{% extends 'base.html' %}
{% load static %}


{% block content %}
    <br>
    <br>
    {% comment %} <h1 class='text-center position-absolute top-50 start-50 translate-middle bg-danger-subtle'> # Welcome # </h1> {% endcomment %}
    <img src= "{% static 'images/VisitorMgmnt.jpg' %}" class='position-absolute top-50 start-50 translate-middle bg-danger-subtle' style="width:500px; height:450px;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% comment %} <h1 class=' text-center'> Visitor Management & Daily Planner </h1> {% endcomment %}

{% endblock content %}