{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
   
    <form action ="{% url 'users:login' %}" method="post">
        {% csrf_token %} 
            <div class="container mt-5" style="width:400px;">
                    <div class="card bg-success fw-800">
                        <h4 class="card-header">Login</h4>
                        <div class="card-body text-warning">
                            {{ form|crispy }}

                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                            {% endif %}

                            <div class="text-center">
                                <button type="submit" class="btn btn-dark mt-4 w-25">Login</button>
                            </div>
                        </div>
                    </div>
            </div>
    </form>
{% endblock %}

